{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="d-flex justify-content-center mt-5">
  <form method="GET" class="d-flex">
    <div class="input-group">
      <span class="input-group-text">Search</span>
      <select class="form-select" name="search_type">
        <option value="title">Title</option>
        <option value="location">Location</option>
        <option value="category">Category</option>
      </select>
      <input type="number" class="form-control" name="min_salary" placeholder="Min Salary" min="0">
      <input type="number" class="form-control" name="max_salary" placeholder="Max Salary" min="0">

      <input type="text" placeholder="Search Term Here" class="form-control" name="search">
      <button class="btn bg-dark text-white ms-2" type="submit">Go</button>
    </div>
  </form>
  </div>
  {% if request.user.is_authenticated and request.user.is_recruiter %}
  <div class="d-flex justify-content-center mt-5">
    <a href="{% url 'home.create' %}" class="btn btn-primary">Post Job</a>
  </div>
  {% endif %}
  <div class="d-flex flex-wrap justify-content-center mt-5">
  {% for job in template_data.jobs %}
    <div class="p-2" style="flex: 0 0 300px; max-width: 300px;">
      <div class="card h-100 align-items-center pt-4">
        <div class="card-body text-start w-100">
          <h5 class="card-title">{{ job.title }}</h5>
          <div class="text-end">
            <a href="{% url 'home.show' id=job.id %}" class="btn bg-dark text-white">View</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</body>
</html>
{% endblock content %}
