{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="d-flex justify-content-center mt-5">
  <form method="GET" class="d-flex">
    <div class="input-group">
      <span class="input-group-text">Search</span>
      <input type="text" class="form-control" name="search">
      <button class="btn bg-dark text-white ms-2" type="submit">Go</button>
    </div>
  </form>
  </div>
  <div class="d-flex justify-content-center mt-5">
    {% for job in template_data.jobs %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <div class="card-body text-start">
            {{ job.title }}
            <div class="text-end">
              <a href="{% url 'home.show' id=job.id %}" class="btn bg-dark text-white">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
</body>
</html>
{% endblock content %}