{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>{{ template_data.job.title }}</h2>
  <p><strong>Location:</strong> {{ template_data.job.location }}</p>
  <p><strong>Salary:</strong> {{ template_data.job.salary }}</p>
  <p><strong>Category:</strong> {{ template_data.job.category }}</p>

  <div class="mt-3">
    <p>{{ template_data.job.description }}</p>
  </div>

  <div class="mt-3">
    {% if request.user.is_authenticated and not request.user.is_recruiter %}
      <a href="#" class="btn btn-success">Apply Now</a>
    {% endif %}
    {% if request.user.is_authenticated and request.user == template_data.job.user%}
      <a href="{% url 'home.edit' id=template_data.job.id %}" class="btn btn-secondary">Edit Job</a>
    {% endif %}
  </div>
</div>
{% endblock content %}